@font-face {
  font-family: "Luga";
  src: url("../fonts/Luga.eot");
  src: url("../fonts/Luga.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Luga.woff") format("woff"),
  url("../fonts/Luga.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Luga";
  src: url("../fonts/Luga-Bold.eot");
  src: url("../fonts/Luga-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Luga-Bold.woff") format("woff"),
  url("../fonts/Luga-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothamPro-Medium.woff") format("woff"),
  url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Regular.eot");
  src: url("../fonts/GothamPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothamPro-Regular.woff") format("woff"),
  url("../fonts/GothamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Neutraface2Display";
  src: url("../fonts/Neutraface2Display-Titling.eot");
  src: url("../fonts/Neutraface2Display-Titling.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Neutraface2Display-Titling.woff") format("woff"),
  url("../fonts/Neutraface2Display-Titling.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
  url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'intro_regular';
    src: url('../fonts/intro-webfont.woff2') format('woff2'),
         url('../fonts/intro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
