extends extends/layout

block vars
    - var navMod = 'light';
    - var title = 'Лофтквартал';

block content
    .wrapper.quarter-page
        .inner
            include includes/header
            .head
                h1.heading
                    span.heading__line
                        span.heading__word.invisible Лофт
                    span.heading__line
                        span.heading__word.invisible квартал
                        .feature.invisible
                            .feature__inner
                                .feature__top
                                    .feature__item
                                        .feature__term Свой лофт
                                        .feature__def
                                            | от 30 м
                                            sup 2
                                .feature__bottom
                                    .feature__item
                                        .feature__term Окупаемость
                                        .feature__def менее <br> 7 лет!
                            .feature__pointer
            .concept
                .row
                    .concept__col.col-1-3
                        .concept__head
                            | Концепция  квартала #Живи  и #{''}
                            a.link(href='#') #Работай
                    .concept__col.col-1-3 Описываем в 3 предложения, что мы хотим расскзать  про наш Квартал покупателям, которые в поисках недвижимости в центре, по привлекательной
                    .concept__col.col-1-3 Описываем в 3 предложения, что мы хотим расскзать  про наш Квартал покупателям, которые в поисках недвижимости.

    include includes/loft-types

    .reasons
        .wrapper
            .inner
                .reasons__content
                    .reasons__title 5 причин #жить в&nbsp;своем лофте:
                    .reasons__row
                        .row
                            .col-1-5
                                .reason
                                    .reason__name Высокие  потолки
                                    .reason__explain Не ограничивают  полет вашей  фантазии.
                            .col-1-5
                                .reason
                                    .reason__name Большие окна
                                    .reason__explain Дают возможность на мир посмотреть и себя показать.
                            .col-1-5
                                .reason
                                    .reason__name Свободная планировка
                                    .reason__explain Вместит, как вечеринки, так и большую дружную семью.
                            .col-1-5
                                .reason
                                    .reason__name Инфра-структура
                                    .reason__explain Развитая комфортная инфраструктура на расстоянии вытянутой руки.
                            .col-1-5
                                .reason
                                    .reason__name Уникальная возможность
                                    .reason__explain Не ужиматься под формат жилья, а создавать собственное пространство.

    .metro-place
        .metro-place__item
            .metro-place__slider
                .metro-place__slider-item
                    img.metro-place__img(src='img/metro-street.png', alt='#')
                .metro-place__slider-item
                    img.metro-place__img(src='img/job-apartment.jpg', alt='#')
        .metro-place__item
            img.metro-place__img(src='img/metro-loc.png', alt='#')

    .about-lofts.quarter-page
        .wrapper
            .inner
                .about-lofts__row.row
                    .col-1-3
                        .about-lofts__slider
                            .about-lofts__slider-list
                                .about-lofts__slider-item
                                    .about-lofts__subtitle Лофты с внутренним  двориком:
                                    img.about-lofts__demo(src='img/loft-demo-1.png')
                                    .about-lofts__access Быстрый  доступ  в свой лофт.
                                .about-lofts__slider-item
                                    .about-lofts__subtitle Просторные уютные студии:
                                    img.about-lofts__demo(src='img/loft-demo-2.png')
                                    .about-lofts__access Быстрый  доступ  в свой лофт.
                            .about-lofts__slider-dots
                    .col-1-3
                        .about-lofts__subtitle Характеристики <br> лофтов:
                        ul.about-lofts__list
                            li — площадь от 40 до 160 кв. м2
                            li — отдельный вход
                            li — свободная планировка
                            li — высота потолков: от 3,5 м
                            li — большие окна
                            li — эл. мощность: от 190 Вт/кв. м
                            li — cистема вентиляции
                            li — лифты OTIS
                            li — хол. и гор. водоснабжение
                            li — механизированная парковка.
                        a.about-lofts__more(href='#') Презентация Studio#12
                    .col-1-3
                        .about-lofts__subtitle Месторасположение <br> квартала:
                        .about-lofts__p Москва, СВАО, <br>
                            a.link.yellow(href='#') 12-й пр. Марьиной Рощи 8 <br>
                            small 10 мин. от метро “Марьина Роща”
                        .about-lofts__p
                            .about-lofts__pos Комплекс апартаментов «Studio 12»  находится вблизи:
                            .about-lofts__in →  1,5 км от ТТК
                            .about-lofts__in →  ближайшие крупные автомагистрали Сущевский вал и Проспект Мира.
                        .about-lofts__p
                            .about-lofts__pos Пассажиры общественного транспорта доедут от квартала:
                            .about-lofts__in →  5-7 минут до станции  метро «Марьина Роща»
                            .about-lofts__in →  за 20-25 минут – до Рижского или Савёловского вокзалов.

    include includes/lofts-section
