.infographics{
	display: none;
				@include below-bp(md-lg) {
					margin: 0 auto;
					width: 80%;
					display: block;
				}
	&__item{
		//padding-left: 2em;
			
			&:nth-child(1n){
				@include below-bp(md-lg) {
					width: 100%;
				}
			}
		span{
			font-size: 1.5em;
			
			.number{
				font-size: 2em;
				color: #ffffff;
			}
		}
	}
	&__list{
		    @include below-bp(md-lg) {
				display: block
			}
	}
}
/*-- переписать --*/
@media screen and (max-width: 1000px){
	.infographics__list {
    width: 80%;
    margin: 0 auto;
}

.infographics__item:nth-child(1n) {
        width: auto;
    margin-right: 2rem;
}


	.infographics {
		margin: 0 auto;
		width: 97%;
		display: block;
	}
}

@media screen and (max-width: 767px){
	.infographics {
		margin-left: calc(27px + (100vw - 320px) * 0.06324);
		width: 93.5%;
		display: block;
	}
	
	.infographics__list{
		width: 92.5%;
	}
	
	.infographics__item{
		margin-left: 0;
	}
}
