.sidebar
    .sidebar__inner
        .sidebar__header
            a.side-logo(href='#')
                img.side-logo__img(src='img/side-logo.png')
        .sidebar__body
            .menu
                .menu__item.active
                    a.menu__link(href='#') #интро
                .menu__item
                    a.menu__link(href='/') #Главная
                .menu__item
                    a.menu__link(href='quarter.html') #лофтквартал
                .menu__item
                    a.menu__link(href='job.html') #работавлофте
                .menu__item
                    a.menu__link(href='#') #картарайона
                .menu__item
                    a.menu__link(href='#') #фотолофтов
                    .menu__sub
                        .menu__sub-item
                            a.menu__sub-link(href='#') разделфото
                        .menu__sub-item
                            a.menu__sub-link(href='#') разделфото
                        .menu__sub-item
                            a.menu__sub-link(href='#') разделфото
                .menu__item
                    a.menu__link(href='#') #блог

            .note
                .note__item
                    | Креативный <br> лофт-квартал Studio#12 <br> — это уникальное <br> пространство  для #{''}
                    a.link.yellow(href='#') #ЖИЗНИ
                    | , <br> и #{''}
                    a.link.yellow(href='#') #РАБОТЫ
                    | .
                .note__item
                    | Это первый <br> креативный кластер <br> европейского масштаба <br> #{''}
                    a.link.yellow(href='#') на карте Москвы.

        .sidebar__footer
            .copyright
                .copyright__legend Дизайн и разработка сайта:
                .copyright__name Korovets studio



