.footer.footer--clear
    .footer__inner
        .nav(class = navMod ? 'nav--' + navMod : '')
            .nav__inner
                .nav__item
                    .metro
                        .metro__icon
                        .metro__caption
                            .metro__hint 10 мин. от метро:
                            a.metro__station.link(href='#') Марьина Роща
                        .metro__map
                            .metro__loc
                                img.metro__location(src='img/metro-map.png', alt='#')
                .nav__item
                    | Москва, СВАО, #{''}
                    br.hidden-lg-xl-up
                    a.link(href='#') 12-й пр. Марьиной Рощи&nbsp;8
                .nav__item
                    | +7 495 780-40-40
                    span.hidden-lg-xl-down  | #{''}
                    br.hidden-lg-xl-up
                    a.link(href='#') Заказать обратный звонок
