.header
    .header__inner
        .nav(class = navMod ? 'nav--' + navMod : '')
            .nav__inner
                .nav__item.nav__item--photos
                    span.nav__item-text
                        a.link.nav__link(href='#') Фотографии
                        |  лофтов
                .nav__item.nav__item--queue
                    span.nav__item-text
                        | 1-ая очередь: #{''}
                        a.link.nav__link(href='#') Январь/2017 г.
                .nav__item.nav__item--shoowroom
                    span.nav__item-text
                        | Shoowroom: #{''}
                        a.link.nav__link(href='#') Studio#8



