.loft-types
    .wrapper
        .inner
            .loft-types__inner
                .loft-types__content
                    for value, ind in ["Классические  брутальные лофты", "Просторные уютные студии", "Комфортные двухуровневые лофты", "Лофты с личным  входоми двориком", "Залитые солнцем мансарды"]
                        .loft-types__slide
                            .loft-types__caption
                                .loft-types__title #{value}
                                .loft-types__page
                                    span.loft-types__page-num 1
                                    span.yellow –
                                        span.loft-types__page-total 3
                            .loft-types__list
                                for val, index in new Array(3)
                                    .loft-types__item
                                        img.loft-types__img(src='img/loft-type-' + ((ind + index) % 2 === 0 ? 1 : 2) + '.jpg', alt='#')
                                        .loft-types__row
                .loft-types__desc
                    .loft-types__tabs
                        .loft-types__tab Классические  брутальные лофты
                        .loft-types__tab Просторные уютные студии
                        .loft-types__tab Комфортные двухуровневые лофты
                        .loft-types__tab Лофты с личным  входоми двориком
                        .loft-types__tab Залитые солнцем мансарды

                    a.loft-types__act(href='#')
                        .loft-types__label Выбрать
                        img.loft-types__icon(src='img/intro-offer.png', alt='#')
