.popup.popup--loft
    .popup__inner
        .detail
            .detail__inner
                .detail__head
                    h2 Studio #12
                .infograph
                    .item
                        h4
                            span.num 115,49
                            |  м
                            sup 2
                        p.text Площадь
                    .item
                        h4
                            span.num 160 000,00 Р
                        p.text Цена за м2
                    .item
                        h4
                            span.num 5 160 000,00 Р
                            |  м
                            sup 2
                        p.text Стоимость
                    .item
                        h4
                            span.num 1
                            |  м
                            sup 2
                        p.text Этаж

            .photo-gallery
                .photo-gallery__content
                    .photo-gallery__item
                        .image(style='background-image: url(img/loft-slide-1.jpg);')
                    .photo-gallery__item
                        .image(style='background-image: url(img/loft-slide-2.jpg);')
                    .photo-gallery__item
                        .image(style='background-image: url(img/loft-slide-3.jpg);')

                button.photo-gallery__prev
                button.photo-gallery__next

            .detail__inner
                .detail__text лофт с отдельным входом/двухуровневый

                .detail__about
                    a.detail__more(href='#') <span>Подробнее о предложении</span>
                    .detail__hidden
                        .detail__info
                            .detail__label Площадь
                            .detail__value 179,70 м2
                        .detail__info
                            .detail__label Подпись
                            .detail__value Значение
                a.detail__link(href='#', target='_blank') Открыть в новом окне

    .popup__footer
        .popup__cell
            span
                a(href='#') Распечатать
            span
                a.send_me_email(href='#') Выслать на почту
        .popup__cell.popup__cell--callback
            a.popup__number(href='tel:7(495)7804040') 7 (495) 780-40-40
            p
                a.callback-me(href='#') Обратный звонок

    button.popup__close