.popup.popup--email
    .popup__inner
        .popup__title Отправить письмо
        .popup__desc Укажите адрес электронной почты,<br> на который необходимо отправить письмо.
        form.form#sendEmailForm(action='#')
            .form__row
                input.form__input(type='email', name='email', placeholder='E-mail', required)
            .form__row
                input.form__submit.btn.btn--md.btn--yellow(type='submit', value='Отправить')

    button.popup__close