//.fp-viewing-s-start, .fp-viewing-s-intro, .fp-viewing-s-lofts{
//	.header_fixed {
//	display: none!important;}
//}

.fp-viewing-s-start, .fp-viewing-s-intro{
	.header_fixed {
	display: none;
	}
}

//.fp-viewing-s-lofts{
		//.header_fixed {
			//display: none!important;
		//}
//}

.header_fixed {
	  .fp-viewing-s-slogan &{
		display: block;
	  }
	  
			.section--lofts.is-colored.fp-section.active.fp-completely &{
				display: none;
			}
	}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  

  body:not(.home-page) & {
    @include below(1150px) {
      display: none;
    }
  }

  body.home-page & {
    @include below-bp(md-lg) {
      display: none;
    }
  }

  &__inner {
    padding-top: rem(23);
  }

  //.section--main &,
  //.section--about & {
  //
  //  @include below-height($height-breakpoint) {
  //    position: static;
  //    margin-bottom: rem(80);
  //  }
  //}
  
  &_stable{
		display: none;
		
			.section--lofts.is-colored.fp-section.active.fp-completely &{
				display: block;
				    @include below-bp(md-lg) {
						display: none;
					}
			}
  }
}