.detail {

  &__head {
    margin: rem(30) 0 rem(20);

    h2 {
      font-size: rem(80);
      color: $yellow;
      line-height: 1;

      @include below($tablet) {
        text-transform: uppercase;
        font-size: rem(48);
      }
    }
  }

  &__inner {
    padding: 0 rem(30);

    @include below($popup-breakpoint) {
      padding-left: rem(70);
      padding-right: rem(70);
    }
  }

  &__message {
    background: #e8e8ec;
    padding: rem(9);
    font-size: rem(14);
    margin: rem(20) 0;
    text-align: center;
  }

  &__hidden {
    display: none;
  }

  &__text {
    //font-size: rem(14);
    margin: rem(20) 0;
  }

  &__more {
    font-size: rem(12);
    display: block;
    color: #ca1b2d;
    margin: rem(20) 0;

    &:before {
      content: '+';
      display: inline-block;
      vertical-align: middle;
      width: rem(15);
      height: rem(15);
      line-height: rem(13);
      text-align: center;
      border: rem(1) solid #ca1b2d;
      color: #ca1b2d;
      margin-right: rem(7);

      .is-open & {
        content: '-';
      }
    }

    span {
      border-bottom: rem(1) dashed #ca1b2d;
      vertical-align: middle;
    }
  }

  &__link {
    display: inline-block;
    margin: rem(20) 0;
    color: #000;
    border-bottom: dotted rem(1) #b3b3b3;
    font-size: rem(12);
  }

  &__info {
    @include clearfix;
    font-size: rem(14);
  }

  &__info {
    border-bottom: rem(1) solid #e8e8eb;
    padding: rem(10) 0;
    line-height: 1;
  }

  &__label {
    float: left;
    color: #808080;
    padding-left: rem(20);
    width: 30%;

    @include below($popup-breakpoint) {
      padding-left: 0;
      width: 50%;
    }
  }

  &__value {
    float: left;
    width: 70%;

    @include below($popup-breakpoint) {
      width: 50%;
    }
  }

  .infograph {
    box-shadow: none;
    display: inline-table;
    height: auto;
    width: 100%;
    padding-bottom: rem(50);

    @include below($popup-breakpoint) {
      padding-bottom: 0;
    }

    .item {
      width: 1%;
      vertical-align: top;
      display: table-cell;
      padding-right: rem(22);
      padding-left: rem(18);
      padding-bottom: 0;
      position: relative;

      @include below($popup-breakpoint) {
        display: inline-block;
        width: 50%;
        padding: 0;
        margin-bottom: rem(30);
      }

      @include below($tablet) {
        display: block;
      }

      &:before {
        content: '';
        border-left: rem(1) solid #e5e5e5;
        position: absolute;
        width: rem(1);
        height: 100%;
        top: 0;
        left: 0;

        @include below($popup-breakpoint) {
          content: none;
        }
      }

      &:first-child {
        padding-left: 0;

        &:before {
          content: none;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    h4 {
      color: #000;
      white-space: nowrap;
      font-size: rem(30);
      margin: 0;

      @include below($tablet) {
        font-size: rem(24);
      }
    }

    .num {
      color: #000;
      white-space: nowrap;
      font-size: rem(30);

      @include below($tablet) {
        font-size: rem(24);
      }
    }
    .befText {
      width: rem(240);
      padding-top: rem(40);
    }

    p {
      color: #808080;
      padding: 0;
      margin-bottom: 0;
      margin-top: rem(6);
      //white-space: nowrap;
      width: auto;
      //font-size: rem(14);

      @include below($tablet) {
        margin-top: 0;
      }
    }
  }
}