.dynamic {
  width: 100%;
  height: 100%;
}

.path {
  //@include linear-switch(stroke-width, bp(sm), bp(lg), 12px, 34px);
  stroke: $yellow;
  stroke-width: 32;
  fill: none;
}

.intro-pic {
  position: absolute;
  top: 12px;
  left: 0;
  right: 42px;
  width: 343px;
  height: 280px;
  margin: 0 auto;
  background: url("../img/intro.png") no-repeat 0 0;
}

#fp-nav {
  position: fixed;
  right: rem(40);
  top: 50%;
  transform: translateY(-50%);
  z-index: 5000;
  margin: 0 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      width: rem(16);
      text-align: center;

      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }

      + li {
        margin-top: rem(15);
      }

      > a {
        width: rem(8);
        height: rem(8);
        display: inline-block;
        padding: 0;
        background: $purple;
        text-indent: rem(-999999999999);
        border-radius: 50%;
        border: rem(3) solid transparent;
        outline: none;
        pointer-events: none;

        &.active {
          background: transparent;
          width: rem(14);
          height: rem(14);
          border-color: $green;
        }

        > span {
          display: none;
        }
      }
    }
  }
}

.intro-anim {
  //opacity: 0;
  //visibility: hidden;
  transition: all 0.35s ease-in;

  &--visible {
    opacity: 1 !important;
    visibility: visible !important;
  }
}


.fp-scrollable {
  overflow: hidden;
}