block vars
   -var title;
doctype html
html.fp-responsive(lang='ru')
   head
      meta(charset='utf-8')
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      title= title
      meta(name='description', content='Studio21')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      //link(rel='apple-touch-icon', href='apple-touch-icon.png')
      include ../includes/styles
   body(class = page ? page + '-page' : '')
      .container
         .container__inner
            include ../includes/sidebar
            .main
               block content
         include ../includes/nav-toggle

      include ../includes/scripts

      if title === 'Главная страница'
         include ../includes/dynamics
